.main-wrapper {
  height: 100vh;
  background-color: #d9dbd4;
}

.wrapper {
  height: 10vh;
  background-color: #009688;
}

.box-contacts {
  height: 90vh;
  width: 35%;
  background-color: white;
  margin-top: 5vh;
}

.box-messages {
  height: 90vh;
  width: 65%;
  background-image: url(../img/mine.jpg);
  margin-top: 5vh;
}

.contacts-header,
.messages-header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  background-color: #eaeaea;
}

.messages-header,
.messages-footer {
  border-left: 0.5px solid #d6d6d6;
}

.contacts-header .avatar img {
  height: 4rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.icons-contacts,
.icons-messages {
  color: #b1b1b1;
}

.notifications {
  background-color: #8edafc;
  height: 6rem;
}

.notifications i {
  color: #8edafc;
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
}

.notifications .box a {
  color: #6d7b84;
  font-size: 0.8rem;
}

.search {
  height: 3rem;
  background-color: #fafafa;
}

.search input {
  width: 96%;
}

.messages-footer {
  height: 5rem;
  background-color: #f3eeea;
}

.messages-footer input {
  height: 60%;
  width: 80%;
}

.messages-footer i {
  color: #60656b;
}

.contacts .contact {
  height: 5rem;
  /* background-color: #13ff02; */
  display: flex;
  align-items: center;
  border-top: 1px solid #f7f7f7;
}

.contact img,
.contact-avatar img {
  height: 4rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.active {
  background-color: #e9ebeb;
}

.my_display {
  display: inline-block;
}

.sent {
  background-color: #d5f9ba;
  border-radius: 4px;
  width: 50%;
  margin-left: 40%;
  margin-bottom: 0.5rem;
  padding: 1rem 0.5rem;
}

.received {
  background-color: #ffffff;
  border-radius: 4px;
  width: 50%;
  margin-left: 10%;
  margin-bottom: 0.5rem;
  padding: 1rem 0.5rem;
}

.sent,
.received {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sent:hover,
.received:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 


.little-grey {
  font-size: 0.8rem;
  color: #bac2d7;
  text-align: end;
}

.delete-message-box {
  height: 3rem;
  width: 180px;
  background-color: white;
  padding: 1rem
}

