.main-wrapper {
  height: 100vh;
  background-color: #d9dbd4;
}

.wrapper {
  height: 10vh;
  background-color: #009688;
}

.box-contacts {
  height: 90vh;
  width: 35%;
  background-color: white;
  margin-top: 5vh;
}

.box-messages {
  height: 90vh;
  width: 65%;
  background-image: url(../img/mine.jpg);
  margin-top: 5vh;
}

.contacts-header,
.messages-header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  background-color: #eaeaea;
}

.messages-header,
.messages-footer {
  border-left: 0.5px solid #d6d6d6;
}

.contacts-header .avatar img{
  height: 4rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.icons-contacts {
  color: #b1b1b1;
  
}

.messages-footer {
  height: 5rem;
  background-color: #f3eeea;
}

.messages-footer input {
  height: 60%;
  width: 80%;
}
